.button {
  border: 2px solid #fff !important;
  background-color: rgb(37, 157, 101) !important;
  color: #fff !important;
}
.table-content {
  margin: 82px auto 32px;
  display: flex;
  max-width: 960px;
  flex-direction: column;
}
