.chat-container {
  display: flex;
  height: 90vh;
  border-top: 1px solid #cacaca;

  .user-container {
    height: 100%;
    width: 25%;
    overflow: auto;
    border-right: 1px solid #cacaca;

    .user-box {
      display: flex;
      margin: 5px;
      padding: 10px;
      width: 97%;
      border-radius: 5px;
      height: 50px;

      &:hover {
        background-color: #f2f2f2;
        cursor: pointer;
      }

      mat-icon {
        padding-top: 3px;
        height: 30px;
        width: 27px;
        font-size: 20px;
      }

      .role {
        padding-top: 3px;
        padding-right: 5px;
        font-weight: 600;
        margin-right: 10px;
        font-size: 13px;
      }

      .text {
        padding-top: 3px;
        font-size: 15px;
        font-weight: 500;
      }

      .property {
        flex: 1;
        margin-left: 10px;
        width: 100%;
      }
    }
  }

  .message-container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    .header {
      border-bottom: 1px solid #cacaca;
      padding: 3px;
      padding-left: 30px;
      gap: 5px;
      color: #f26529;
    }

    .chat {
      flex: 1;
      overflow: auto;
      padding: 15px;
      font-size: 15px;
      display: flex;
      flex-direction: column-reverse;

      .message {
        margin: 5px;
        max-width: 40%;
        padding: 10px;
        border-radius: 20px;
      }

      .message-align-start {
        width: 100%;
        display: flex;
        justify-content: flex-start;

        .message {
          background-color: #faf2ee;
        }
      }

      .message-align-end {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .message {
          background-color: rgba(37, 157, 101, 0.07);
        }
      }
    }

    .input-container {
      padding: 10px;
      padding-bottom: 0px;

      input {
        flex: 1;
        border: 1px solid #cacaca;
        border-radius: 5px;
        font-size: 16px;

        &:focus,
        &:active {
          outline: none;
          box-shadow: 0 0 5px rgba(0, 152, 81, 0.3);
        }
      }

      button {
        background-color: white;
        border: none;

        &:hover {
          background-color: #f2f2f2;

          mat-icon {
            font-size: 2em;
          }
        }
      }
    }
  }
}
