<app-navbar></app-navbar>
<div class="d-flex flex-column justify-content-center">
  <div class="chat-container">
    <div class="user-container">
      <div
        (click)="updateSelectedUser(i)"
        *ngFor="let user of users; index as i"
        class="user-box d-flex"
      >
        <mat-icon>account_circle </mat-icon>
        <span class="role"> {{ user.role }}</span>
        <div>
          <div class="text d-flex justify-content-center">{{ user.name }}</div>
        </div>
      </div>
      <div
        (click)="updateSelectedGroup(i)"
        *ngFor="let group of groups; index as i"
        class="user-box d-flex"
      >
        <mat-icon>group </mat-icon>
        <span class="role"> Group</span>
        <div>
          <div class="text d-flex justify-content-center">{{ group.name }}</div>
        </div>
      </div>
    </div>
    <div class="message-container">
      <div class="header d-flex justify-content-start mt-2">
        <mat-icon>chat</mat-icon>
        <span>{{ selected?.name }}</span>
        <div class="members-container" *ngIf="!isUserSelected">
          :
          <span *ngFor="let member of selected.members">{{ member }},</span>
        </div>
      </div>
      <div class="chat" #chatConversation>
        <div
          *ngFor="let message of messages"
          [ngClass]="
            (isUserSelected && message.senderId === selected?.id) ||
            (!isUserSelected && loggedUserRole === 'CLIENT')
              ? 'message-align-start'
              : 'message-align-end'
          "
        >
          <div class="message">
            {{ message.messageText }}
            <div
              *ngIf="
                message.senderId !== selected.id &&
                (isUserSelected ||
                  (!isUserSelected && loggedUserRole === 'ADMIN'))
              "
              class="message-status"
            >
              <span>{{ message.status }}</span>
            </div>
          </div>
        </div>
      </div>
      <div>
        <span *ngIf="userIsTyping" style="margin-left: 15px">
          {{ typingMessage }}
        </span>
        <div
          *ngIf="selected !== undefined"
          class="input-container d-flex w-100"
        >
          <input
            [readonly]="loggedUserRole === 'CLIENT' && !isUserSelected"
            (keyup.enter)="sendMessage()"
            type="text"
            [(ngModel)]="messageText"
            (ngModelChange)="emitUserTyping()"
          />
          <div>
            <button (click)="sendMessage()"><mat-icon>send</mat-icon></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
